<h1>{{{title}}}</h1>
<p>Welcome to {{{title}}}</p>

<form id="queueInfo" action="/" method="POST">
    <h2>Find-a-queue</h2>
    <span>What is your name?</span><input type="text" id="name" name="name">
    <p class="warning" id="illegalChars" hidden>WARNING! Only uppercase, lowercase,
        underscore and dash characters are allowed!</p>
</form>

<form id="makeNewQueue" action='/dj' method="GET" hidden>
    <h3>There is no queue with that name, make a new one?</h3>
    <input type="submit" value="Make a new queue">
</form>

<script src="/javascripts/index.js"></script>
