<h1>{{{title}}}</h1>
<p>Welcome to {{{title}}}</p>

<form id="queueInfo" class="pure-form" action="/" method="POST">
    <fieldset>
        <input type="text" id="name" name="name"
            class="pure-input-1-2" placeholder="Which queue?">
        <p class="warning" id="illegalChars" hidden>WARNING! Only uppercase, lowercase,
            underscore and dash characters are allowed!</p>
        <input class="pure-button pure-button-primary"
            id="gotoQueue" type="submit" value="Go!"</input>
    </fieldset>
</form>

<script src="/javascripts/index.js"></script>
