<h1>{{id}}</h1>
<p>Welcome to {{id}}&rsquo;s queue</p>
<div class="pure-form">
    <input type="text" id="search" autocomplete="off" name="q"
        placeholder="Search for songs">
</div>
<div id="results">
    <!-- search results go here -->
</div>
<div id="songs">
    <!-- list of songs goes here -->
</div>
<script type="text/javascript">queueID = "{{{key}}}"</script>
<script src="https://cdn.firebase.com/js/client/2.2.0/firebase.js"></script>
<script src="/javascripts/queue.js"></script>
