.container {
    width: 100%;
    padding: 15px;
}

@media screen and (min-width: 35.5em) {
    .container {
        width: 30em;
        margin: auto;
    }
}

.queue-element {
    position: relative;
    width: 500px;
    height: 75px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px #888888;
    margin: 10px 5px;
    display: inline-block;
}

.coverart {
    height: 75px;
}
